{% if is_paginated %}
<div class="themesflat-pagination clearfix center">
    <ul>
        <li><a href="{{request.path}}?page=1" class="page-numbers style"><i
                class="far fa-angle-left"></i></a></li>

        {% for i in paginator.page_range %}
        {% if i == page_obj.number %}
        <li><a href="{{request.path}}?page={{i}}" class="page-numbers current">{{ i }}</a></li>
        {% else %}
        <li><a href="{{request.path}}?page={{i}}" class="page-numbers">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        <li><a href="{{request.path}}?path={{paginator.num.pages}}" class="page-numbers style"><i
                class="far fa-angle-right"></i></a></li>
    </ul>
</div>
{% endif %}