{% extends 'base.html' %}
{% block main %}
{% load percent %}
{% load static %}

<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading center">
                    <h2 class="heading">Product Details</h2>
                    <div class="title-inner link-style-3">
                        <h5 class=""><a class="home fw-4"
                                        href="index.html">Home</a><span>Product Details</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section flat-shop-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="image-cart">
                    <div class="flat-tabs card-media media">
                        <ul class="menu-tab menu-img">
                            {% for image in product.images.all %}
                            <li class="item-title">
                                <img src="{{ image.image.url }}"
                                     alt="">
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="content-tab content-img">
                            {% for image in product.images.all %}
                            <div class="content-inner tab-content">
                                <img src="{{ image.image.url }}"
                                     alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <a href="#" class="mark-search"><i
                                class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="wrap-cart">
                    <div class="money">
                        <span class="one fw-6"><del>UAH {{ product.old_price }}</del> </span>
                        <span class="two fw-6">UAH {{ product.price }}</span>
                    </div>
                    <div class="titles title-36 fw-6">{{ product.title }}</div>
                    <div class="box-star flex">
                        <div class="stock"><a href="#">{% if product.availability %} IN STOCK {% else %} OUT OF STOCK {% endif %}</a></div>
                    </div>
                    <p class="text-1">{{ product.short_description|safe }}</p>
                    <div class="wrap-list flex">
                        <div class="box-quantity">
                            <div class="quantity flex">
                                <div class="input-text"><input type="text"
                                                               name="name"
                                                               value="1"
                                                               class="quantity-number">
                                </div>
                                <a class="btn-quantity plus-btn"><i
                                        class="far fa-plus"></i></a>
                                <a class="btn-quantity minus-btn"><i
                                        class="far fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="tf-buttons"><a href="#">Add To Cart</a>
                        </div>
                    </div>
                    <div class="tf-buttons style"><a href="#">Buy It Now</a>
                    </div>
                    <div class="icon-box flex">
                        <div class="icon icon-1 link-style-1"><a href="#"><i
                                class="far fa-heart"></i>Add to wishlist</a>
                        </div>
                        <div class="icon icon-2 link-style-1"><a href="#"><i
                                class="fas fa-compress-arrows-alt"></i>Compare</a>
                        </div>
                    </div>
                    <div class="title-box flex-three"><h5 class="fw-6">Category
                        :</h5><a href="{% url 'catalogue' product.categories.all.0.slug %}" class="fw-4 text-color-4">{{ product.categories.all.0 }}</a></div>

                    <div class="icon-social text-color-1 flex">
                        <a href="#" class="style-1"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="#" class="style-2"><i
                                class="fab fa-twitter"></i></a>
                        <a href="#" class="style-3"><i
                                class="fab fa-pinterest-p"></i></a>
                        <a href="#" class="style-4"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="post">
                    <div class="title-one title-36 fw-6">Description</div>
                    <div class="text-2">{{ product.full_description|safe }}</div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-vegetables shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title-two title-36 fw-6">Related Products</div>
                <div class="wrap-vegetables">
                    <div class="swiper-container carousel-shop"
                         data-aos="fade-up" data-aos-duration="2000">
                        <div class="swiper-button-next button-slide-custom-next"></div>
                        <div class="swiper-button-prev button-slide-custom-prev"></div>
                        <div class="swiper-wrapper">
                            {% for product in related_products %}
                            <div class="swiper-slide">
                                <div class="box box-hv">
                                    <div class="images hover-style">
                                        <a href="{% url 'product' product.slug %}"><img
                                                src="{{ product.images.first.image.url }}"
                                                alt="images"></a>
                                        <div class="icon-list flex">
                                            <a class="icon-1" href="#"><i
                                                    class="far fa-search"></i></a>
                                            <a class="icon-2" href="#"><i
                                                    class="fas fa-shopping-basket"></i></a>
                                        </div>
                                        <div class="tag-text">-{% discount_rate product.old_price product.price %}%</div>
                                    </div>
                                    <div class="content">
                                        <h3 class="link-style-6"><a
                                                href="{% url 'product' product.slug %}">{{ product.title }}</a></h3>
                                        <div class="money">
                                            <span class="one">UAH {{ product.old_price }}</span> <span
                                                class="two">UAH {{ product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        <div class="button-custom-slider">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
