{% extends 'base.html' %}
{% load percent %}
{% block main %}
{% load thumbnail %}
{% load static %}

<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading center">
                    <h2 class="heading">Shop Grid</h2>
                    <div class="title-inner link-style-3">
                        <h5 class=""><a class="home fw-4"
                                        href="{% url 'index' %}">Home</a><span>Shop Grid</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section flat-category page2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="wrap-category flex">
                    {% for category in category_tabs %}
                    <div class="box">
                        <div class="images"><a
                                href="{% url 'catalogue' category.slug %}"><img
                                src="{{ category.image|thumbnail_url:'avatar' }}"
                                alt="images"></a></div>
                        <div class="content">
                            <div class="title link-style-6"><a
                                    href="{% url 'catalogue' category.slug %}">{{ category.name }}</a></div>
                            <p>{{ category.products_count }} Product</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flat-filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="category-filter flex-two">
                    {% if search_query %}
                    <div class="box-1">
                        {% if search_result_count <= 12 %}
                        <h5>Showing 1–{{ search_result_count }} of {{ search_result_count }} found  results by search "{{ search_query }}"</h5>
                        {% else %}
                        <h5>Showing 1–12 of {{ search_result_count }} found results by search "{{ search_query }}"</h5>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="box-1">
                        {% if search_result_count <= 12 %}
                        <h5>Showing 1–{{ product_count }} of {{ product_count }} products in "{{ current_category }}" category </h5>
                        {% else %}
                        <h5>Showing 1–12 of {{ product_count }} products in "{{ current_category }}" category</h5>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="box-2 flex">
                        <div id="item_category2"
                             class="dropdown titles-dropdown ">
                            <a href="#" class="btn-selector nolink "> Sort by
                                latest</a>
                            <ul>
                                <li><span>Juice</span></li>
                                <li><span>Vegetables</span></li>
                                <li><span>Beverages</span></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-view grid active"><i
                                class="fas fa-th"></i></a>
                        <a href="#" class="btn-view list"><i
                                class="fas fa-list-ul"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="flat-vegetables page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="wrap-vegetables flex">
                    {% for product in products %}
                    <div class="box box-hv">
                        <div class="images hover-style">
                            <a href="{% url 'product' product.slug %}"><img
                                    src="{{ product.images.all.0.image.url }}"
                                    alt="images"></a>
                            <div class="icon-list flex">
                                <a class="icon-1" href="#"><i
                                        class="far fa-search"></i></a>
                                <a class="icon-2" href="#"><i
                                        class="fas fa-shopping-basket"></i></a>
                                <a class="icon-3" href="#"><i
                                        class="far fa-heart"></i></a>
                            </div>
                            <div class="tag-text style2">-{% discount_rate product.old_price product.price %}%</div>
                        </div>
                        <div class="content">
                            <h3 class="link-style-6"><a
                                    href="{% url 'product' product.slug %}">{{ product.title }}</a>
                            </h3>
                            <div class="money">
                                <span class="one">UAH {{ product.old_price }}</span> <span class="two">UAH {{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
